{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    The new collections are here
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid about_us">
        <h1 class="text-center">
            About Us
        </h1>

        <span class="row">
            Welcome to XYZ Excavators: Your Premier Partner in Earthmoving Solutions

            Discover the epitome of excellence in earthmoving machinery with XYZ Excavators.
            As a pioneering force in the industry, we specialize in delivering top-tier excavators designed to redefine performance standards across construction,
            mining, landscaping, and beyond.

            At XYZ Excavators, we recognize the pivotal role excavators play in driving efficiency and productivity on job sites.
            Our commitment lies in engineering cutting-edge equipment that seamlessly integrates precision, innovation, and durability,
            empowering you to conquer the most challenging tasks with ease.

            Crafted with meticulous attention to detail and fortified with advanced technology,
            our excavators are primed to excel in diverse environments. Whether it's excavation, demolition, or material handling,
            trust XYZ Excavators to deliver unmatched reliability and performance.

            But our dedication extends beyond the machinery. At XYZ Excavators,
            we prioritize your success by offering comprehensive support and services tailored to your needs.
            From expert consultations to seamless maintenance and aftermarket solutions, we're with you every step of the way.

            Join the ranks of satisfied customers who rely on XYZ Excavators for superior earthmoving solutions.
            Experience the difference with our unwavering commitment to quality, reliability, and customer satisfaction.
            Choose XYZ Excavators – where excellence meets performance, every time.

            Ready to elevate your earthmoving capabilities? Explore our range of excavators and partner with us for success.
            Welcome to XYZ Excavators – your trusted ally in conquering the challenges of tomorrow's projects, today.
        </span>
    </div>
{% endblock %}