{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    Heavy Machinery to rent
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'excavator' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Rent Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div id="delivery-banner" class="row text-center">
        <div class="col bg-black text-white">
            <h4 class="logo-font my-1">Once you rent from us, you won't want to go anywhere else.</h4>                
        </div>            
    </div>

    <div class="container-fluid about_us">
        <h1 class="text-center">
            About Us
        </h1>

        <p class="row text-center media_size">
            Welcome to Build Alone Construction Machinery Rental: Your premier choice for top-tier equipment solutions. With cutting-edge machinery and unparalleled reliability, 
            we redefine performance standards across construction sites.
            Trust us to provide advanced equipment tailored to your rental needs, backed by comprehensive support and services.<br>
            <br>
            Explore our range of machinery for rent and partner with us for success.<br>
        </p>
    </div>
{% endblock %}