{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    Heavy Machinery to rent
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'excavator' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Rent Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div id="delivery-banner" class="row text-center">
        <div class="col bg-black text-white">
            <h4 class="logo-font my-1">Once you rent from us, you won't want to go anywhere else.</h4>                
        </div>            
    </div>

    <div class="container-fluid about_us">
        <p class="row text-center media_size">
            Welcome to Build Alone Construction Machinery Rental: Your premier choice for top-tier equipment solutions. With cutting-edge machinery and unparalleled reliability.
            <br>
            Build Alone is construction machinery rental page specializing in excavators offers a user-friendly platform for contractors and individuals to browse,
            book, and rent excavators for their construction projects, providing detailed listings, rental terms, and reservation options.
            <br>
            With clear information on equipment specifications, pricing, and delivery services,
            the website aims to streamline the rental process and ensure a smooth and efficient experience for users seeking excavator rentals.
            <br>
        </p>
    </div>
{% endblock %}