<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <div class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'excavator' %}">
                Excavator
            </a>
        </div>

        <div class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#">
                Second Rent
            </a>
        </div>

        <div class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#">
                Third Rent
            </a>
        </div>

        <div class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black" href="#">
                Fourth Rent
            </a>
        </div>
    </ul>
</div>